<head>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
  <script src="https://sdk.scdn.co/spotify-player.js"></script>
  <script> $SCRIPT_ROOT = {{request.script_root|tojson|safe}}; </script>
  <script src="{{ url_for('spotifyMakerjs') }}"></script>
  <script src="{{ url_for('sensorReaderjs') }}"></script>
</head>
<body>

  Hello world.
  <button id="auth">Click Me to Authorize Spotify</button>
  <script>
  // This is the main code to be run.
  $(function() {
    window.onSpotifyWebPlaybackSDKReady = () => {
      $("#auth").on("click", () => {
        SpotifyWebPlayback.createPlayer().then(player => {
          // Connect the player
          player.connect();
          // Define your custom controls and actions here
          let controls = {"player": player};
          let action = function (resp, controls) {
            player = controls.player;
            if (resp["read"][0] < 2){
              player.pause();
            } else {
              player.resume();
            }
          }
          // Wire up controls and action
          SensorReader.setControls(controls);
          SensorReader.setAction(action);
          // Start the sensor reader to perform the action
          SensorReader.start();
        });
      });
    }
  });
  </script>
</body>
