<head>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{
    url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
</head>
<body>

  Hello world.
  <button id="auth">Click Me to Authorize Spotify</button>

  <script src="https://sdk.scdn.co/spotify-player.js"></script>
  <script>

  $SPOTIFY_AUTH_TOKEN = "";
  // Server/ domain root
  $SCRIPT_ROOT = {{request.script_root|tojson|safe}};

  // This is the main code to be run.
  $(function() {
    $("#auth").on("click", spotifyAuth);

    window.onSpotifyWebPlaybackSDKReady = () => {

      // TODO: OAuth
      const token = $SPOTIFY_AUTH_TOKEN;
      // New player instance
      const player = new Spotify.Player({
        name: 'PAUSE-ture Head Posture Correction',
        getOAuthToken: cb => { cb(token); }
      });
      // Error handling
      player.addListener('initialization_error', ({ message }) => { console.error(message); });
      player.addListener('authentication_error', ({ message }) => { console.error(message); });
      player.addListener('account_error', ({ message }) => { console.error(message); });
      player.addListener('playback_error', ({ message }) => { console.error(message); });

      // Playback status updates
      player.addListener('player_state_changed', state => { console.log(state); });

      // Ready
      player.addListener('ready', ({ device_id }) => {
        console.log('Ready with Device ID', device_id);
      });

      // Not Ready
      player.addListener('not_ready', ({ device_id }) => {
        console.log('Device ID has gone offline', device_id);
      });

      // Connect to the player!
      player.connect();

      // Invoke loop
      sensor_read_loop({"player": player});
    }
  });

  // ****************************************************************
  // ********************* Additional functions *********************
  // ****************************************************************

  /**
   * Helper function to sleep for some number of ms.
   */
  function sleep(ms) {
    return new Promise(resolve => setTimeout(resolve, ms));
  };

  /**
   * [Async] Make a request to server for sensor read data.
   * @returns Promise
   */
  async function sensor_read_deferred() {
    var deferred = $.Deferred();
    $.ajax({
      url: $SCRIPT_ROOT + '{{url_for("getSensorData")}}',
      type: 'GET',
      success: response => {
          deferred.resolve(response);
        },
      error: err => {
        console.log("Error!", err);
      }
    });
    await sleep(1000);
    return deferred;
  };

  /**
   * This is the action to be done in each read of the sensor.
   * `sensor_read_loop` will make successive reads of the sensors,
   * and process the response with this function.
   */
  function sensor_read_action(resp, controls) {
    console.log(resp["read"]);
    // spotify_read_action(resp, controls);
    no_op_read_action(resp, controls);
  };

  // ======= Potential feedback actions =======
  function spotify_read_action(resp, controls) {
    player = controls.player;
    if (resp["read"][0] < 5){
      player.pause();
    } else {
      player.resume();
    }
  }

  function no_op_read_action(resp, controls){
    return
  }

  /**
   * Recursively make continuous requests to get sensor data.
   * @param: `controls` is a JSON object of control-objects that
   *        may need to be manipulated on a sensor read.
   * No return, continuous loop
   */
  function sensor_read_loop(controls) {
      sensor_read_deferred().then(resp => {
        // Process read response & process here
        sensor_read_action(resp, controls);
        // Recursively call once most recent request is complete.
        sensor_read_loop(controls);
    });
  };

  function spotifyGetAccessToken() {
    $.ajax({
      url: $SCRIPT_ROOT + '{{ url_for("spotifyGetAccessToken") }}',
      type: 'GET',
      success: response => {
        console.log(response["access_token"]);
        $SPOTIFY_AUTH_TOKEN = response["access_token"];
      },
      error: err => {
        console.log("Error!", err);
      }
    })
  }

  function spotifyAuth() {
    var oauth_popup = window.open("", "_blank", "");
    $(oauth_popup).on("unload", spotifyGetAccessToken);

    $.ajax({
      url: $SCRIPT_ROOT + '{{ url_for("authSpotify") }}',
      type: 'GET',
      success: response => {
          oauth_popup.location.href = response["auth_url"];
        },
      error: err => {
        console.log("Error!", err);
      }
    });
  }

  </script>
</body>
